[Unit]
Description=demo fastapi application
After=network.target

[Service]
User=ashwin
Group=ashwin
WorkingDirectory=/home/ashwin/app/src/
Environment="PATH=/home/ashwin/app/venv/bin"
EnvironmentFile=/home/ashwin/.env
ExecStart=/home/ashwin/app/venv/bin/gunicorn -w 4 -k uvicorn.workers.UvicornWorker app.main:app --bind 0.0.0.0:8000

[Install]
WantedBy=multi-user.target